#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

body {
  background-color: #EAE6E0;
}

.main-content {
  padding-top: 90px;
  min-height: calc(100vh - 60px);
}

.table {
  background: #F9F6EF;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(40, 40, 40, 0.05);
  width: 100%;
  margin: 20px 0;
}

.table thead th {
  background-color: #282828;
  color: #F9F6EF;
  font-weight: 500;
  padding: 16px;
  border-bottom: 1px solid #EDA398;
}

.table tbody td {
  padding: 16px;
  color: #282828;
}

.btn-primary {
  background-color: #193497;
  border: none;
  padding: 8px 16px;
  transition: all 0.3s ease;
  width: auto;
  font-size: 0.9rem;
}

.btn-primary:hover {
  background-color: #EDA398;
}

.footer {
  background-color: #282828;
  color: #F9F6EF;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.9rem;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
  border-color: #80bdff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
